@font-face {
  font-family: 'DM Sans';
  /* font-weight: 400 500; */
  src: url(./assets/fonts/DMSans-VariableFont-opsz-wght.ttf) format('truetype');
  font-display: swap;
}

:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(0, 0%, 96%);
  --black: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  font-weight: 500;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.main-area {
  min-width: 320px;
  padding: 10% 4.26%;
  background: var(--lightGray);
}
.content-area {
  min-width: 290px;
}
.card {
  padding: 4.66%;
  border-radius: 10px;
  margin-bottom: 34px;
}
.card1 {
  color: var(--white);
  text-align: center;
  background: var(--purple-500);
}
.card1 h1 {
  font-size: 45px;
  padding: 14px 24px;
  letter-spacing: 1px;
  line-height: 42px;
  margin-top: 9px;
}
.card1 h1 span {
  color: var(--yellow-500);
}
.card1 img {
  width: 193px;
  margin-top: 8px;
  margin-bottom: 2px;
}
.card1 p {
  margin-bottom: 22px;
}

.card2 {
  background: var(--white);
}
.card2 h2 {
  letter-spacing: -2px;
  line-height: 24px;
  padding-top: 10px;
}

.card3 {
  background: var(--yellow-500);
  padding-bottom: 0;
}
.card3 h2 {
  letter-spacing: -1.7px;
  line-height: 24px;
  padding-right: 10px;
  margin-bottom: 14px;
}
.card3 img {
  width: 206px;
  margin-bottom: -25px;
}
.card3 .img {
  overflow: hidden;
}
.card4 {
  text-align: center;

  background: var(--purple-100);
}
.card4 h2 {
  letter-spacing: -1.8px;
  padding-right: 2px;
  margin-top: 10px;
  margin-bottom: 18px;
}
.card4 p {
  padding: 0 16px;
  margin-top: 16px;
  margin-bottom: 14px;
}
.card5 {
  text-align: center;
  background: var(--purple-500);
}
.card5 img {
  width: 232px;
  margin: 7px 0 34px;
}
.card5 h2 {
  font-size: 32px;
  color: var(--white);
  padding: 0 32px;
  line-height: 28px;
  margin-bottom: 7px;
}
.card6 {
  padding: 16px 22px;
  background: var(--white);
}
.card6 h2 {
  font-size: 46px;
  margin-bottom: 4px;
}
.card6 p {
  padding-left: 2px;
}
.card6 img {
  width: 180px;
  padding-left: 2px;
  margin: 22px 0 2px;
}
.card7 {
  padding: 33px 33px 26px;
  background: var(--yellow-100);
}
.card7 h2 {
  font-size: 32px;
  letter-spacing: -1.5px;
  line-height: 26px;
  margin-bottom: 26px;
}
.card7 h2 span {
  color: var(--purple-500);
}
.card7 img {
  width: 184px;
}
.card8 {
  padding: 24px 24px 18px;
  background: var(--yellow-500);
}
.card8 h2 {
  font-size: 32px;
  letter-spacing: -1.3px;
  line-height: 28px;
  margin-bottom: 24px;
}
.card8 img {
  width: 214px;
  height: 223px;
}

@media (min-width: 800px) {
  .content-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 31px;
  }
  .card {
    padding: 10%;
  }

  .card img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1150px) {
  body {
    display: flex;
    justify-content: center;
  }
  .main-area {
    width: 1440px;
    height: 1028px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 16px;
  }
  .content-area {
    width: 1122px;
    grid-template-areas:
      'card7 card1 card1 card4'
      'card7 card1 card1 card4'
      'card7 card1 card1 card4'
      'card7 card1 card1 card4'
      'card7 card2 card3 card4'
      'card8 card2 card3 card4'
      'card8 card2 card3 card4'
      'card8 card6 card5 card5'
      'card8 card6 card5 card5'
      'card8 card6 card5 card5';
  }

  .card {
    margin-bottom: 0;
  }

  .card1 {
    width: 544px;
    height: 322px;
    grid-area: card1;
  }
  .card1 h1 {
    font-size: 61px;
    line-height: 57px;
    letter-spacing: 0.3px;
    padding: 0px;
    margin-top: 7px;
  }
  .card1 img {
    width: 191px;
    margin-top: 24px;
    margin-bottom: 0;
  }
  .card2 {
    width: 256px;
    height: 247px;
    overflow: hidden;
    grid-area: card2;
    margin: 0 auto;
  }

  .card2 .img2 {
    width: 311px;
    padding-left: 8px;
  }
  .card2 h2 {
    font-size: 33px;
    line-height: 29px;
    padding-top: 12px;
  }

  .card3 {
    padding: 22px;
    width: 256px;
    height: 247px;
    overflow: hidden;
    grid-area: card3;
  }
  .card3 h2 {
    font-size: 34px;
    line-height: 29px;
    margin-bottom: 15px;
  }
  .card4 {
    width: 256px;
    height: 603px;
    padding-left: 32px;
    overflow: hidden;
    text-align: left;
    grid-area: card4;
  }
  .card4 h2 {
    font-size: 34px;
    line-height: 28px;
    margin-top: 26px;
    margin-bottom: 24px;
  }
  .card4 img {
    height: 318px;
  }
  .card4 .img4 {
    margin-right: -158px;
  }
  .card4 p {
    padding: 0;
    line-height: 20px;
    margin-top: 18px;
  }

  .card5 {
    box-sizing: border-box;
    display: flex;
    padding: 21px 22px;
    width: 544px;
    height: 247px;
    grid-area: card5;
  }

  .card5 .img5 {
    flex-basis: 46%;
  }
  .card5 img {
    height: 100%;
    margin: 0;
  }
  .card5 h2 {
    flex-basis: 54%;
    text-align: left;
    font-size: 40px;
    padding-right: 0;
    padding-left: 11px;
    line-height: 37px;
    margin-top: 47px;
  }
  .card6 {
    width: 256px;
    height: 247px;
    padding: 12px 22px;
    grid-area: card6;
  }
  .card6 h2 {
    font-size: 62px;
    margin-bottom: 2px;
  }
  .card6 img {
    width: 181px;
    margin-top: 36px;
  }
  .card7 {
    width: 256px;
    height: 415px;
    grid-area: card7;
  }
  .card7 h2 {
    font-size: 38px;
    padding-left: 8px;
    letter-spacing: -2px;
    line-height: 36px;
    margin-top: 52px;
    margin-bottom: 22px;
  }
  .card7 img {
    padding: 0 8px;
  }
  .card8 {
    width: 256px;
    height: 432px;
    padding: 24px;
    padding-right: 10px;
    grid-area: card8;
  }
  .card8 h2 {
    font-size: 39px;
    line-height: 35px;
    padding-right: 24px;
    margin-bottom: 55px;
  }
}
@media (min-width: 1920px) {
  body {
    align-items: center;
  }
}
